body {
  display: flex;
  flex-direction: column;
  background-color: #fffcf2;

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 400px;
    width: 100vw;
    background-image: url("/images/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fffcf2;
  }
  main {
    display: flex;
    flex-direction: column;

    .container-type {
      display: block;
      background-color: #fcf6e3;
      border-radius: 0.5em;
      margin: auto;
      width: 90vw;
      margin-top: 1em;
      margin-bottom: 1em;

      .section-title {
        background-color: #e0be5e;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        p {
          font-size: 1.3em;
          padding: 0.3em;
          color: #fcf6e3;
        }
      }
      .type {
        margin: auto;
        .item-container:hover {
          background-color: #fcf0c7;
          box-shadow: 0 0 0 5px #fcf0c7;
          transition: all 200ms ease-out;
        }
        .item-container {
          max-width: 90%;
          padding: 0;
          margin: 1em;

          img {
            height: 180px;
            width: 100%;
            object-fit: cover;
            border-radius: 0.1em;
          }
          .info {
            display: flex;
            flex-direction: column;
            #title {
              align-self: flex-start;
              p {
                font-size: 1em;
              }
            }
            .bottom-line {
              display: flex;
              flex-direction: row;
              justify-content: space-between;

              #price {
                p {
                  font-size: 1.3em;
                }
              }
              button {
                margin-right: 1em;
              }
            }
          }
        }
      }
    }
  }
}
