body {
  display: flex;
  flex-direction: column;
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 400px;
    width: 100vw;
    background-image: url("/images/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
  }
  main {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    .container {
      border: 2px solid blue;
      margin-left: 0;
      .type {
        border: 1px solid green;
        width: 100vw;

        .item {
          border: 1px solid black;
          width: inherit;
          height: 250px;
          margin: 1em;
          img {
            max-height: 200px;
            max-width: 100%;
          }
        }
      }
    }
  }
}
