body {
  background-color: #fffcf2;
  main {
    display: flex;
    flex-direction: column;
    align-content: center;

    .favourites-items {
      border-radius: 0.5em;
      display: block;
      width: 90vw;
      margin: auto;
      margin-top: 1em;
      margin-bottom: 1em;
      background-color: #fcf6e3;

      .items {
        margin: auto;

        .item-container:hover {
          background-color: #fcf0c7;
          box-shadow: 0 0 0 5px #fcf0c7;
          transition: all 200ms ease-out;
        }
        .item-container {
          display: flex;
          flex-direction: column;
          max-width: 90%;
          padding: 0;
          margin: 1em;
          .img_wrp {
            img {
              width: 100%;
              height: 180px;
              object-fit: cover;
              border-radius: 0.1em;
              display: inline-block;
              position: relative;
            }
            i {
              position: absolute;
              top: 0;
              right: 0;
              padding: 0.2em;
              color: #b80f0f;
            }
          }

          form {
            justify-content: center;
          }
        }
      }
    }
  }

  .on-sale-items {
    border-radius: 0.5em;
    display: block;
    width: 90vw;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #fcf6e3;
    img {
      max-width: 200px;
      height: 180px;
      object-fit: cover;
      border-radius: 0.1em;
    }
    .button {
      padding-top: 100px;
    }
  }
  .sold-items {
    border-radius: 0.5em;
    display: block;
    width: 90vw;
    margin: auto;
    margin-bottom: 1em;
    background-color: #fcf6e3;
    margin-top: 2em;
    .item-container {
      max-width: 90%;
      padding: 0;
      margin: 1em;

      img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 0.1em;
      }

      .info {
        display: flex;
        flex-direction: column;
        #title {
          align-self: flex-start;
          p {
            font-size: 1em;
          }
        }
      }
    }
  }

  .section-title {
    background-color: #e0be5e;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    p {
      font-size: 1.3em;
      padding: 0.3em;
      color: #fcf6e3;
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    #title {
      align-self: flex-start;
      p {
        font-size: 1em;
      }
    }
    .bottom-line {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      #price {
        p {
          font-size: 1.3em;
        }
      }
    }
  }
}
