// sass --watch ./styles/messages.scss ./public/styles/messages.css
// sass ./styles/messages.scss ./public/styles/messages.css

@media only screen and (min-width: 299px) and (max-device-width: 767px) {
  html {
    height: 100vh;
    width: 100%;
  }
  body {
    height: 95%;
    background-color: #eee;
  }
  nav {
    background-color: #e0be5e;
    width: 100vw;
    z-index: 1;
    .navbar-brand img {
      margin-right: 1em;
    }
  }
  #container {
    font-size: 10px;
    width: 100%;
    padding: 1rem;
    background: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    #all_messages {
      overflow: auto;
      max-height: 85vh;
      display: flex;
      flex-direction: column-reverse;
    }

    #form_area {
      width: 90%;
      position: fixed;
      padding: 1rem 0;
      margin: 0;
      bottom: 0;
    }
  }
}
@media only screen and (min-width: 768px) and (max-device-width: 1079px) {
}

@media only screen and (min-width: 1080px) {
}
