body {
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 7em;
    width: 100vw;
    background-image: url("/images/lamp.png");
    background-repeat: no-repeat;
    background-size: cover;
    color:#3b2b0c;
    filter: sepia(40%);
    font-size: 3em;
  }

  main {
    display: flex;
    flex-direction: column;
    background-color: #fffcf2;
    width: 100vw;



    .container-fluid {
      display: block;
      background-color: #fcf6e3;
      width: 90vw;
      padding: 2em;
      margin-top: 1em;
      margin-bottom: 1em;

      color: #695d52;

      textarea {
        resize: none;
      }

      h2 {
        margin : 1em 0em 1em 0em;
      }

      .btn {
        display: flex;
        flex-direction: row-reverse;
      }

    }

  }

}



/* media query*/

@media only screen and (min-width: 1024px) {
  // main
  //   .container-fluid {
  //    width: 50vw;
  // }
}

